<h1>My todo list</h1>

<% if @todos.blank? %>
  <p>You don't have any todo yet. Create your first task below.</p>
<% else %>
  <div class="todos">
    <% @todos.each do |todo| %>
      <div id=<%= todo.id %> class="todo">
        <h3><%= todo.title %></h3>
        <p><%= todo.description %></p>
        <span>Due date: <%= todo.due_date.strftime("%A, %b %d") %></span>
        <span>Status: <%= todo.status %></span>
        <span>Position: <%= todo.position %></span>
        <div class="call_to_actions">
          <div class="toggle_checkbox">  
            <% if todo.checked? %>
              <%= link_to "#" do %>
                <i class="fas fa-check-square"></i>
              <% end %>
            <% else %>
              <%= link_to "#" do %>
                <i class="far fa-square"></i>
              <% end %>
            <% end %>
          </div>
          <div class="toggle_position">
            <%= link_to "#" do %>
              <i class="fas fa-sort-up"></i>
            <% end %>
            <%= link_to "#" do %>
              <i class="fas fa-sort-down"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<hr>

<%= simple_form_for(@todo, remote: true) do |f| %>
  <h2>Add a new task</h2>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :due_date %>
  <%= f.submit "Add", class: 'btn btn-primary' %>
<% end %>
